<div class="container">

  <mat-toolbar color="primary" *ngIf="canEdit">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button class="button" mat-flat-button color="basic" (click)="addOrUpdateProduct()">Добавить</button>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-card *ngFor="let product of products" class="mat-card">
    <mat-card-title>{{product.title}}</mat-card-title>
    <img class="image" mat-card-image [src]="product.image" alt="Not found">

    <mat-card-content>
      <p>Year: {{product.year}}</p>
      <p>Price: {{product.price | currency}}</p>
    </mat-card-content>

    <mat-card-actions class="mat-card-actions">
      <button class="button" mat-flat-button color="primary" (click)="addToBasket(product)">В корзину</button>
      <button class="button"  mat-flat-button color="primary" [routerLink]="['/products', product.id]">Подробнее</button>


      <button class="button" mat-flat-button color="primary" [matMenuTriggerFor]="menu">Ред.</button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteProduct(product.id)">Удалить</button>
        <button mat-menu-item (click)="addOrUpdateProduct(product)">Ред.</button>
      </mat-menu>

    </mat-card-actions>
  </mat-card>
</div>
